<footer class="p-3 text-center">
  <a
    class="text-secondary"
    href="https://github.com/CDDelta/portfolio"
    target="_blank"
    rel="noopener"
  >
    <small>Designed & built by me</small>
  </a>
  <div class="d-flex justify-content-center">
    {% for profileId, profile in about.socials %}
    <a
      class="icon p-2"
      href="{{ profile.url }}"
      title="{{ profile.name }}"
      aria-label="{{ profile.name }}"
      target="_none"
      rel="noopener"
    >
      <svg viewBox="0 0 24 24" width="30" height="30">
        <use xlink:href="media/svgs/icons.svg#{{ profileId }}"></use>
      </svg>
    </a>
    {% endfor %}
  </div>
</footer>
