@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.jumbotron {
  background: url('../media/svgs/jumbotron-bg.svg') no-repeat;
  background-size: cover;
  background-color: $light;

  .lead {
    max-width: 750px;
  }
}

.jumbotron-content {
  animation-name: bounce-in-from-top;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
  animation-duration: 1s;
}

@keyframes bounce-in-from-top {
  from {
    transform: translateY(-100vh);
  }
  50% {
    transform: translateY(5%);
  }
  75% {
    transform: translateY(-2%);
  }
  90% {
    transform: translateY(0.5%);
  }
  to {
    transform: translateY(0);
  }
}

.jumbotron-links a {
  animation-name: spin-in;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
  animation-delay: calc(var(--list-index) * 0.25s);
  animation-duration: 0.5s;
}

@keyframes spin-in {
  from {
    transform: scale(0) rotate(360deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}

section {
  padding: map-get($spacers, 5) 0;

  h2 {
    padding-top: map-get($spacers, 4);
  }
}

section#contact {
  background: transparent url('../media/images/contact-bg.png') repeat scroll 0%
    0%;
  background-size: 600px;

  .lead {
    max-width: 600px;
  }
}

#projects .card {
  flex: 0 calc(50% - 2rem);
}

#projects .card, #blog .card {
  &::after {
    box-shadow: $box-shadow-lg;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.75s ease-in-out;

    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:focus-within,
  &:hover {
    & {
      transform: scale(1.025);
    }
    &::after {
      opacity: 1;
    }
  }
}
