---
layout: layouts/base.njk
title: CDDelta | Hacker & Developer
head_include: '
<link rel="stylesheet" href="styles/index.css">
<script type="text/javascript" src="scripts/index.js"></script>
'
eleventyComputed:
  description: "{{ about.introduction }}"
---

<header class="bg-light shadow fixed-top">
  <nav class="navbar navbar-light navbar-expand-md container container-fluid">
    <a class="navbar-brand" href="#">CDDelta</a>
    <span class="flex-grow-1"></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<section class="jumbotron jumbotron-fluid min-vh-100 d-flex flex-column justify-content-center">
  <div class="container h-100 mt-5 d-flex flex-column flex-md-row align-items-center">
    <div class="jumbotron-content w-100 w-md-75">
      <h4>Hi, I am</h4>
      <h1 class="display-3">CDDelta</h1>
      <h1 class="display-4">{{ about.tagline }}</h1>
      <p class="lead">{{ about.introduction }}</p>
      <a class="btn btn-primary mb-3" href="#contact">Get in Touch</a>
      <div class="d-flex mb-3">
        {% for profileId, profile in about.socials %}
        <a class="p-2" href="{{ profile.url }}" title="{{ profile.name }}" aria-label="{{ profile.name }}"
          target="_none" rel="noopener">
          <img class="icon" src="media/svgs/{{ profileId }}.svg" alt="" height="40" width="40">
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="about" class="container">
  <h2 class="text-center mb-4">About Me</h2>
  <div class="d-flex flex-column flex-md-row">
    <div>
      <p>{{ about.biography }}</p>

      <div class="d-flex flex-column flex-md-row">
        <div class="flex-even">
          <p>Here's a few technologies I've worked with recently:</p>
          <ul>
            {% for skill in about.skills %}
            <li>{{ skill.name }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="flex-even">
          <p>I am also learning/trying:</p>
          <ul>
            {% for learning in about.learning %}
            <li>{{ learning.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="projects" class="bg-light">
  <div class="container">
    <h2 class="text-center">Projects</h2>
    <p class="text-center">Here are some of the things that I've worked on.</p>
    <div class="d-flex flex-column flex-lg-row flex-lg-wrap justify-content-center">
      {% for project in projects %}
      <div class="card m-3">
        <div class="row no-gutters h-100">
          <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">{{ project.description }}</p>
            <p>
              {% for item in project.stack %}
              <span class="badge badge-pill badge-secondary">{{ item }}</span>
              {% endfor %}
            </p>
          </div>
        </div>
        <div class="card-footer">
          {% for linkId, link in project.links %}
          <a class="p-2" href="{{ link.url }}" title="{{ link.name }}" aria-label="{{ link.name }}" target="_none"
            rel="noopener">
            <img class="icon" src="media/svgs/{{ linkId }}.svg" alt="" height="30" width="30">
          </a>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="blog" class="container d-flex flex-column align-items-center">
  <h2 class="text-center">My Articles</h2>
  <p class="text-center">I write sometimes. Read about my development experiences below!</p>
  <div class="d-flex flex-column flex-lg-row justify-content-around mb-3">
    {% for article in dev.articles.slice(0, 3) %}
    <article class="card flex-even m-3">
      <img class="card-img-top" loading="lazy" src="{{ article.cover_image }}" alt="">
      <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{ article.description }}</p>
        <p class="card-text">
          <a class="stretched-link" href="{{ article.url }}" target="_blank" rel="noopener">Continue reading</a>
        </p>
      </div>
    </article>
    {% endfor %}
  </div>
  <a class="btn btn-primary w-maxc" href="{{ about.socials.dev.url }}" target="_blank" rel="noopener">See All</a>
</section>

<section id="contact">
  <div class="container text-center d-flex flex-column align-items-center">
    <h2>Get in Touch</h2>
    <p class="lead">Have a question? Want to have a chat? My inbox is always open! Just shoot me a message and I'll
      get back to
      you ASAP.</p>
    <a class="btn btn-secondary w-maxc" target="_blank" rel="noopener">Say Hello</a>
  </div>
</section>