---
layout: layouts/base.njk
title: Portfolio
---

<header class="bg-dark fixed-top">
  <nav class="navbar navbar-expand-md navbar-dark container container-fluid">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <span class="flex-grow-1"></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-none collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mb-2 mb-md-0">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
</header>

<section class="jumbotron jumbotron-fluid vh-100">
  <div class="container h-100 d-flex flex-column flex-md-row align-items-center">
    <div class="p-4 p-lg-5">
      <img class="img-fluid" src="media/images/octocat.png">
    </div>
    <div class="w-75">
      <h1 class="display-4 text-uppercase">Welcome to my portfolio!</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur.</p>
      <div class="d-flex">
        {% for profileId, profile in socialProfiles %}
        <a class="p-2" href="{{ profile.url }}" target="_none" rel="noopener">
          <img src="media/svgs/{{ profileId }}.svg" height="40" width="40" inline>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="container">
  <h2 class="text-center">About Me</h2>
</section>

<section class="container">
  <h2 class="text-center">Projects</h2>
</section>

<section class="container d-flex flex-column align-items-center">
  <h2 class="text-center">My Articles</h2>
  <div class="d-flex flex-column flex-md-row ustify-content-around">
    {% for article in dev.articles.slice(0, 3) -%}
    <article class="card flex-even m-3">
      <img src="{{ article.cover_image }}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{ article.description }}</p>
        <p class="card-text">
          <a class="stretched-link" href="{{ article.url }}">Continue reading</a>
        </p>
      </div>
    </article>
    {%- endfor %}
  </div>
  <a class="btn btn-primary w-maxc" href="{{ socialProfiles.dev.url }}" role="button">See All</a>
</section>